@{
    ViewBag.Title = "About Ethan";
}
<h2>@ViewBag.Title</h2>


<p>My name is Ethan Milles, I am a senior at Ohio University majoring in Management Informatin Systems and Marketing with a minor in Business Analytics.
    I am from a small town about 40 minutes south of Chicago. I ahve three sisters three pets and my mom. I would like to become a consultant at a big four company.  </p>
