@{
    ViewBag.Title = "My Contact Information";
}
<h2>@ViewBag.Title</h2>


<address>
    25 S Kurtz St Apt. 303<br />
    Athens, OH 45701<br />
    <abbr title="Phone">Phone:</abbr>
    (815)-272-5937
</address>

<address>
    <strong>Gmail:</strong>   <a href="mailto:ethan.milles@gmail.com">ethan.milles@gmail.com</a><br />
    <strong>Ohio U:</strong> <a href="mailto:em100216@ohio.edu">em100216@ohio.edu</a>
</address>